h5py==3.8.0
huggingface-hub==0.15.1
lightly==1.4.6
lightly-utils==0.0.2
lightning-utilities==0.7.1
matplotlib==3.7.1
more-itertools==9.1.0
numpy==1.24.3
opencv-python==4.7.0.72
openpyxl==3.1.2
openslide-python==1.2.0
pandas==1.5.3
Pillow==9.4.0
pytorch-lightning==2.0.3
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
tensorboardX==2.6
timm==0.8.17.dev0
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.2
torchvision==0.15.2
tqdm==4.65.0
urllib3==1.26.15